
.container {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.quarters > * {
  display: inline-block;
  width: 140px;
}

code {
  background-color: ghostwhite;
  padding: 2px;
  border-radius: 2px;
  font-family: monospace;
}

.spindle-lg {
  font-size: 300%;
}

.spindle-md {
  font-size: 200%;
}

.spindle-sm {
  font-size: 100%;
}

.spindle-xs {
  font-size: 75%;
}
